/*
========
Buttons!
========
*/
#header .menu,
#small_login,
#header .dropdown:hover .current + .menu,
.event .userstuff, .notice,
.comment_notice,
ul.notes,
.caution,
.error,
.comment_error,
.alert.flash,
.actions a:hover,
.actions input:hover,
.actions a:focus,
.actions input:focus,
label.action:hover,
.action:hover,
.action:focus,
.dynamic form,
.ui-draggable form, #header .primary,
.group.listbox,
fieldset fieldset.listbox,
#main li.blurb,
.wrapper,
#dashboard .secondary,
.secondary,
form blockquote.userstuff,
.thread .comment,
.toggled form,
.listbox .index,
form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend,
span.question,
fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
.delete a,
span.delete,
#header ul.primary, input, .actions input,
input[type=submit],
textarea, .actions a,
.actions a:link,
.action,
.action:link,
button,
.current,
.actions label {
  /*
  This resets the shadows in several places
  */
  box-shadow: none;
}

#footer,
.autocomplete .dropdown ul li:hover,
li.selected,
.autocomplete a:hover, form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend, input, .actions input,
input[type=submit],
textarea, .actions a,
.actions a:link,
.action,
.action:link,
button,
.current,
.actions label {
  /*
  This resets the background image from default skin in several places
  */
  background-image: none;
}

.actions input,
input[type=submit],
textarea, .actions a,
.actions a:link,
.action,
.action:link,
button,
.current,
.actions label {
  /*
  Further 3d elements to reset in webkit browsers
  */
  -webkit-appearance: none;
}

form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend,
.actions a,
.actions a:link,
.action,
.action:link,
input[type=submit],
button,
.current,
.actions label, .notice,
.comment_notice,
ul.notes,
.caution,
.error,
.comment_error,
.alert.flash,
.actions a:hover,
.actions input:hover,
.actions a:focus,
.actions input:focus,
label.action:hover,
.action:hover,
.action:focus,
.toggled form,
.dynamic form,
.ui-draggable form {
  /* Sets the style for border buttons */
  border: none;
}

.actions a,
.actions a:link,
.action,
.action:link,
button,
.current,
.actions label {
  border: none;
}

input {
  width: 96%;
  border: 1px solid;
}

.actions a:hover,
a:hover,
.actions input:hover,
#dashboard a:hover,
.actions a:focus,
.actions input:focus,
#dashboard a:focus,
.actions a:active,
.current,
a.current,
.current a:visited,
#dashboard .current,
#outer .current,
#header .current,
span.unread,
.replied,
span.claimed,
dl.index dd,
.own,
.draft,
.draft .unread,
.child,
.unwrangled,
.unreviewed,
.ui-sortable li:hover,
#header .primary .menu .current {
  /* resets the border color */
  border-color: initial;
  /* extra aggressive shadow removing */
  box-shadow: none !important;
}

form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend,
.actions a,
.actions a:link,
.action,
.action:link,
input[type=submit],
button,
.current,
.actions label {
  border-bottom: none;
}

.listbox .index,
.dashboard .listbox .index,
.splash .news li,
form dt,
.picture .header {
  /* 
  some stuff needs some aggressive non-bordering 
  */
  border: none;
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
}

#header .menu,
#small_login,
#header .dropdown:hover .current + .menu,
.event .userstuff {
  /* 
  removes some more effects of default skin
  */
  filter: none;
}

.autocomplete input,
.autocomplete .dropdown ul li {
  min-width: 10px;
}

fieldset.work.meta .fandom.required ul.autocomplete, .listbox, fieldset fieldset.listbox, fieldset, form dl, fieldset dl dl, fieldset fieldset fieldset, fieldset fieldset dl dl, dd.hideme, form blockquote.userstuff {
  background: transparent;
}

.actions input[type=checkbox] {
  appearance: auto;
}

#header .actions a:hover,
#header .actions a:focus,
#header .dropdown:hover a,
#header .open a {
  color: black;
}

#header .dropdown:hover a,
ul.menu.dropdown-menu {
  background: transparent;
  border-color: transparent;
}

#outer #header .dropdown-menu li:nth-of-type(6n+1) a,
#outer #header .dropdown-menu li:nth-of-type(6n+1) a:visited,
#outer #header .dropdown-menu li:nth-of-type(6n+1) a:link {
  background-color: #07a077;
  color: white;
}

#outer #header .dropdown-menu li:nth-of-type(6n+2) a,
#outer #header .dropdown-menu li:nth-of-type(6n+2) a:visited,
#outer #header .dropdown-menu li:nth-of-type(6n+2) a:link {
  background-color: #a5efcc;
  color: #000000;
}

#outer #header .dropdown-menu li:nth-of-type(6n+3) a,
#outer #header .dropdown-menu li:nth-of-type(6n+3) a:visited,
#outer #header .dropdown-menu li:nth-of-type(6n+3) a:link {
  background-color: #f7fff6;
  color: #000000;
}

#outer #header .dropdown-menu li:nth-of-type(6n+4) a,
#outer #header .dropdown-menu li:nth-of-type(6n+4) a:visited,
#outer #header .dropdown-menu li:nth-of-type(6n+4) a:link {
  background-color: #6cb5e3;
  color: white;
}

#outer #header .dropdown-menu li:nth-of-type(6n+5) a,
#outer #header .dropdown-menu li:nth-of-type(6n+5) a:visited,
#outer #header .dropdown-menu li:nth-of-type(6n+5) a:link {
  background-color: #32408b;
  color: white;
}

#outer #header .dropdown-menu li:nth-of-type(6n+6) a,
#outer #header .dropdown-menu li:nth-of-type(6n+6) a:visited,
#outer #header .dropdown-menu li:nth-of-type(6n+6) a:link {
  background-color: #f7fff6;
  color: #000000;
}

#outer #header .dropdown-menu li:nth-of-type(6n+1) a:hover,
#outer #header .dropdown-menu li:nth-of-type(6n+1) a:focus {
  text-decoration: underline;
  color: white !important;
}

#outer #header .dropdown-menu li:nth-of-type(6n+2) a:hover,
#outer #header .dropdown-menu li:nth-of-type(6n+2) a:focus {
  text-decoration: underline;
  color: #000000 !important;
}

#outer #header .dropdown-menu li:nth-of-type(6n+3) a:hover,
#outer #header .dropdown-menu li:nth-of-type(6n+3) a:focus {
  text-decoration: underline;
  color: #000000 !important;
}

#outer #header .dropdown-menu li:nth-of-type(6n+4) a:hover,
#outer #header .dropdown-menu li:nth-of-type(6n+4) a:focus {
  text-decoration: underline;
  color: white !important;
}

#outer #header .dropdown-menu li:nth-of-type(6n+5) a:hover,
#outer #header .dropdown-menu li:nth-of-type(6n+5) a:focus {
  text-decoration: underline;
  color: white !important;
}

#outer #header .dropdown-menu li:nth-of-type(6n+6) a:hover,
#outer #header .dropdown-menu li:nth-of-type(6n+6) a:focus {
  text-decoration: underline;
  color: #000000 !important;
}

#header .primary .menu .current {
  background-color: #32408b;
  color: white;
}

#header .dropdown:hover a.dropdown-toggle {
  color: #6cb5e3 !important;
}

#outer #footer {
  background: linear-gradient(to bottom, #07a077 0%, #07a077 20%, #a5efcc 20%, #a5efcc 40%, #f7fff6 40%, #f7fff6 60%, #6cb5e3 60%, #6cb5e3 80%, #32408b 80%, #32408b);
  border-top: none;
}
#outer #footer a, #outer #footer .heading, #outer #footer li {
  color: #000000;
}

.splash .module h3,
a,
a:link,
a:visited,
.blurb h4 a,
.blurb h4 a:link,
.blurb h4 a:visited {
  background: rgba(108, 181, 227, 0.1);
  background-color: rgba(108, 181, 227, 0.1);
  border: 1px solid #6cb5e3;
  padding: 4px;
  line-height: 30px;
  color: inherit;
}

a:hover,
a:hover:visited,
.blurb h4 a:hover,
.blurb h4 a:visited:hover,
a.tag:hover,
a.tag:visited:hover, h5.fandoms a.tag:visited:hover, h5.fandoms a.tag:hover, .listbox .heading a.tag:visited:hover {
  background-color: #32408b;
  background: #32408b;
  border: 1px solid #32408b;
  color: white !important;
}

#header .user a[href*=logout]:hover {
  background: #32408b;
  color: white !important;
}

.blurb ul.required-tags li, .icon a:hover, h3.heading a, .blurb ul.required-tags li a, .blurb ul.required-tags li span, .icon a, .heading a.question, a.modal.help, .bookmark .count a {
  border: none;
  background-color: transparent;
}

.news a, .news a:link {
  border: none;
  background: none;
  background-color: transparent;
  text-decoration: underline;
  padding: initial;
  line-height: initial;
}

.news .actions a, .news .actions a:link {
  padding: 0.25em 0.75em;
  line-height: 18px;
  text-decoration: none;
}

dd.bookmarks a {
  line-height: initial;
  border: none;
}

.blurb h4 a:visited, h5.fandoms a.tag {
  color: inherit !important;
}

/*start of the header*/
#header .heading a:hover {
  color: rgba(108, 181, 227, 0.1);
  border: none;
}

#outer #header {
  color: #000000;
  background: linear-gradient(to bottom, #07a077 0%, #07a077 20%, #a5efcc 20%, #a5efcc 40%, #f7fff6 40%, #f7fff6 60%, #6cb5e3 60%, #6cb5e3 80%, #32408b 80%, #32408b);
}

#outer #outer #header .primary,
#header ul.primary {
  background: none;
}

#outer #header a,
#header a:visited {
  color: inherit;
}

#header a.dropdown-toggle,
#header .current,
#header .primary .open a,
#header .primary .dropdown a:focus {
  color: #000000;
  background-color: transparent;
}

#header .heading a, #header #greeting a.dropdown-toggle, #header .user a[href*=logout] {
  color: #000000 !important;
}

#header .primary a.dropdown-toggle, #header .primary li:hover a.dropdown-toggle {
  color: white !important;
  background-color: transparent !important;
}

#header .logo {
  background: #ffffff;
  width: 40px;
  height: auto;
  margin-right: 10px;
  padding: 5px;
  border-radius: 3px;
}

#header .heading {
  padding: 0.375em;
  margin: 1em;
  background: #f7fff6;
  box-shadow: 5px 5px 0px #32408b;
}

#login, #greeting {
  padding: 0.375em;
  margin: 1em;
  background: #f7fff6;
  box-shadow: 5px 5px 0 #32408b;
}

#footer .module {
  max-width: 20%;
  margin: 0 2%;
  background: #f7fff6;
  box-shadow: 5px 5px 0 #32408b;
  padding: 5px;
}

#header #search .button {
  background: #f7fff6;
  color: #32408b;
}

#header #search .text, #header #search input:focus {
  background: #f7fff6;
  color: #32408b;
}

/*end of the header*/
li.relationships a,
dl.meta dd.relationship a.tag {
  background: rgba(7, 160, 119, 0.1);
  border: 1px solid #07a077;
  color: inherit !important;
}
li.relationships a:hover, li.relationships a:visited:hover,
dl.meta dd.relationship a.tag:hover,
dl.meta dd.relationship a.tag:visited:hover {
  background: #07a077;
  border: 1px solid #07a077;
  color: white !important;
}

li.characters a,
dl.meta dd.character a.tag {
  background: rgba(165, 239, 204, 0.1);
  border: 1px solid #a5efcc;
  color: inherit !important;
}
li.characters a:hover, li.characters a:visited:hover,
dl.meta dd.character a.tag:hover,
dl.meta dd.character a.tag:visited:hover {
  background: #a5efcc;
  border: 1px solid #a5efcc;
  color: #000000 !important;
}

li.freeforms a,
dl.meta dd.freeform a.tag {
  background: rgba(108, 181, 227, 0.1);
  border: 1px solid #6cb5e3;
  color: inherit !important;
}
li.freeforms a:hover, li.freeforms a:visited:hover,
dl.meta dd.freeform a.tag:hover,
dl.meta dd.freeform a.tag:visited:hover {
  background: #6cb5e3;
  border: 1px solid #6cb5e3;
  color: white !important;
}

li.comment,
.listbox,
fieldset, li.blurb, dl.work.meta.group {
  border: 1px solid;
  border-image-source: linear-gradient(to bottom, #07a077 0%, #07a077 20%, #a5efcc 20%, #a5efcc 40%, #f7fff6 40%, #f7fff6 60%, #6cb5e3 60%, #6cb5e3 80%, #32408b 80%, #32408b);
  border-image-slice: 1;
}

#dashboard.own {
  border-image-source: linear-gradient(to bottom, #07a077 0%, #07a077 20%, #a5efcc 20%, #a5efcc 40%, #f7fff6 40%, #f7fff6 60%, #6cb5e3 60%, #6cb5e3 80%, #32408b 80%, #32408b);
  border-image-slice: 1;
}

#dashboard a {
  border: 1px solid transparent;
}

#dashboard .current {
  background: #32408b;
  border: 1px solid #32408b;
  color: white;
}

/*This makes the dashboard side menu links*/
#dashboard li:nth-of-type(6n+1) a:hover {
  background: #07a077;
  border: 1px solid #07a077;
  color: white !important;
}

#dashboard li:nth-of-type(6n+2) a:hover {
  background: #a5efcc;
  border: 1px solid #a5efcc;
  color: #000000 !important;
}

#dashboard li:nth-of-type(6n+3) a:hover {
  background: #f7fff6;
  border: 1px solid #f7fff6;
  color: #000000 !important;
}

#dashboard li:nth-of-type(6n+4) a:hover {
  background: #6cb5e3;
  border: 1px solid #6cb5e3;
  color: white !important;
}

#dashboard li:nth-of-type(6n+5) a:hover {
  background: #32408b;
  border: 1px solid #32408b;
  color: white !important;
}

#dashboard li:nth-of-type(6n+6) a:hover {
  background: #f7fff6;
  border: 1px solid #f7fff6;
  color: #000000 !important;
}

/* end of dashboard*/
/*wrangling table*/
.assigned tr:nth-of-type(6n+1) a {
  background: rgba(7, 160, 119, 0.1);
  border: 1px solid #07a077;
  color: inherit !important;
}
.assigned tr:nth-of-type(6n+1) a:hover, .assigned tr:nth-of-type(6n+1) a:visited:hover {
  background: #07a077;
  border: 1px solid #07a077;
  color: white !important;
}

.assigned tr:nth-of-type(6n+2) a {
  background: rgba(165, 239, 204, 0.1);
  border: 1px solid #a5efcc;
  color: inherit !important;
}
.assigned tr:nth-of-type(6n+2) a:hover, .assigned tr:nth-of-type(6n+2) a:visited:hover {
  background: #a5efcc;
  border: 1px solid #a5efcc;
  color: #000000 !important;
}

.assigned tr:nth-of-type(6n+3) a {
  background: rgba(247, 255, 246, 0.1);
  border: 1px solid #f7fff6;
  color: inherit !important;
}
.assigned tr:nth-of-type(6n+3) a:hover, .assigned tr:nth-of-type(6n+3) a:visited:hover {
  background: #f7fff6;
  border: 1px solid #f7fff6;
  color: #000000 !important;
}

.assigned tr:nth-of-type(6n+4) a {
  background: rgba(108, 181, 227, 0.1);
  border: 1px solid #6cb5e3;
  color: inherit !important;
}
.assigned tr:nth-of-type(6n+4) a:hover, .assigned tr:nth-of-type(6n+4) a:visited:hover {
  background: #6cb5e3;
  border: 1px solid #6cb5e3;
  color: white !important;
}

.assigned tr:nth-of-type(6n+5) a {
  background: rgba(50, 64, 139, 0.1);
  border: 1px solid #32408b;
  color: inherit !important;
}
.assigned tr:nth-of-type(6n+5) a:hover, .assigned tr:nth-of-type(6n+5) a:visited:hover {
  background: #32408b;
  border: 1px solid #32408b;
  color: white !important;
}

.assigned tr:nth-of-type(6n+6) a {
  background: rgba(247, 255, 246, 0.1);
  border: 1px solid #f7fff6;
  color: inherit !important;
}
.assigned tr:nth-of-type(6n+6) a:hover, .assigned tr:nth-of-type(6n+6) a:visited:hover {
  background: #f7fff6;
  border: 1px solid #f7fff6;
  color: #000000 !important;
}

/*end of wrangling table*/
/* buttons!*/
button,
.actions a,
.actions a:link,
.action,
input[type=submit],
.actions a:visited,
li#form-link span.current,
.listbox .index .actions a,
.listbox .index .actions a:link {
  color: inherit;
  border: 1px solid;
  border-image-slice: 1;
  background: linear-gradient(to bottom, rgba(7, 160, 119, 0.1) 20%, rgba(165, 239, 204, 0.1) 40%, rgba(247, 255, 246, 0.1) 60%, rgba(108, 181, 227, 0.1) 80%, rgba(50, 64, 139, 0.1));
  border-image-source: linear-gradient(to bottom, #07a077 0%, #07a077 20%, #a5efcc 20%, #a5efcc 40%, #f7fff6 40%, #f7fff6 60%, #6cb5e3 60%, #6cb5e3 80%, #32408b 80%, #32408b);
}

button:hover,
.actions a:hover, .actions a:visited:hover,
.action:hover,
input[type=submit]:hover, .listbox .index .actions a:hover {
  color: #000000 !important;
  background: linear-gradient(to bottom, #07a077 0%, #07a077 20%, #a5efcc 20%, #a5efcc 40%, #f7fff6 40%, #f7fff6 60%, #6cb5e3 60%, #6cb5e3 80%, #32408b 80%, #32408b);
  border: 1px solid;
  border-image-source: linear-gradient(to bottom, #07a077 0%, #07a077 20%, #a5efcc 20%, #a5efcc 40%, #f7fff6 40%, #f7fff6 60%, #6cb5e3 60%, #6cb5e3 80%, #32408b 80%, #32408b);
  border-image-slice: 1;
}

/*end of buttons*/
