#header .menu,
#small_login,
#header .dropdown:hover .current + .menu,
.event .userstuff, .notice,
.comment_notice,
ul.notes,
.caution,
.error,
.comment_error,
.alert.flash,
.actions a:hover,
.actions input:hover,
.actions a:focus,
.actions input:focus,
label.action:hover,
.action:hover,
.action:focus,
.dynamic form,
.ui-draggable form, #header .primary,
.group.listbox,
fieldset fieldset.listbox,
#main li.blurb,
.wrapper,
#dashboard .secondary,
.secondary,
form blockquote.userstuff,
.thread .comment,
.toggled form,
.listbox .index,
form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend,
span.question,
fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
.delete a,
span.delete,
#header ul.primary, input, .actions input,
input[type=submit],
textarea, .actions a,
.actions a:link,
.action,
.action:link,
button,
.current,
.actions label {
  /*
  This resets the shadows in several places
  */
  box-shadow: none;
}

#footer,
.autocomplete .dropdown ul li:hover,
li.selected,
.autocomplete a:hover, form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend, input, .actions input,
input[type=submit],
textarea, .actions a,
.actions a:link,
.action,
.action:link,
button,
.current,
.actions label {
  /*
  This resets the background image from default skin in several places
  */
  background-image: none;
}

.actions input,
input[type=submit],
textarea, .actions a,
.actions a:link,
.action,
.action:link,
button,
.current,
.actions label {
  /*
  Further 3d elements to reset in webkit browsers
  */
  -webkit-appearance: none;
}

form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend,
.actions a,
.actions a:link,
.action,
.action:link,
input[type=submit],
button,
.current,
.actions label, .notice,
.comment_notice,
ul.notes,
.caution,
.error,
.comment_error,
.alert.flash,
.actions a:hover,
.actions input:hover,
.actions a:focus,
.actions input:focus,
label.action:hover,
.action:hover,
.action:focus,
.toggled form,
.dynamic form,
.ui-draggable form {
  /* Sets the style for border buttons */
  border: none;
}

.actions a,
.actions a:link,
.action,
.action:link,
button,
.current,
.actions label {
  border: none;
}

input {
  width: 96%;
  border: 1px solid;
}

.actions a:hover,
a:hover,
.actions input:hover,
#dashboard a:hover,
.actions a:focus,
.actions input:focus,
#dashboard a:focus,
.actions a:active,
.current,
a.current,
.current a:visited,
#dashboard .current,
#outer .current,
#header .current,
span.unread,
.replied,
span.claimed,
dl.index dd,
.own,
.draft,
.draft .unread,
.child,
.unwrangled,
.unreviewed,
.ui-sortable li:hover,
#header .primary .menu .current {
  /* resets the border color */
  border-color: initial;
  /* extra aggressive shadow removing */
  box-shadow: none !important;
}

form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend,
.actions a,
.actions a:link,
.action,
.action:link,
input[type=submit],
button,
.current,
.actions label {
  border-bottom: none;
}

.listbox .index,
.dashboard .listbox .index,
.splash .news li,
form dt,
.picture .header {
  /* 
  some stuff needs some aggressive non-bordering 
  */
  border: none;
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
}

#header .menu,
#small_login,
#header .dropdown:hover .current + .menu,
.event .userstuff {
  /* 
  removes some more effects of default skin
  */
  filter: none;
}

.autocomplete input,
.autocomplete .dropdown ul li {
  min-width: 10px;
}

fieldset.work.meta .fandom.required ul.autocomplete,
.listbox,
fieldset fieldset.listbox,
fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff {
  background: transparent;
}

.actions input[type=checkbox] {
  appearance: auto;
}

/* 
==========
   MENU
==========
 */
#header .actions a:hover,
#header .actions a:focus,
#header .dropdown:hover a,
#header .open a {
  color: black;
}

#header .dropdown:hover a,
ul.menu.dropdown-menu {
  background: transparent;
  border-color: transparent;
}

#outer #header .dropdown-menu li:nth-of-type(6n+1) a,
#outer #header .dropdown-menu li:nth-of-type(6n+1) a:visited,
#outer #header .dropdown-menu li:nth-of-type(6n+1) a:link {
  background-color: #ff84a8;
  color: white;
}

#outer #header .dropdown-menu li:nth-of-type(6n+2) a,
#outer #header .dropdown-menu li:nth-of-type(6n+2) a:visited,
#outer #header .dropdown-menu li:nth-of-type(6n+2) a:link {
  background-color: #fcf5ff;
  color: #1b0f40;
}

#outer #header .dropdown-menu li:nth-of-type(6n+3) a,
#outer #header .dropdown-menu li:nth-of-type(6n+3) a:visited,
#outer #header .dropdown-menu li:nth-of-type(6n+3) a:link {
  background-color: #b35bd6;
  color: white;
}

#outer #header .dropdown-menu li:nth-of-type(6n+4) a,
#outer #header .dropdown-menu li:nth-of-type(6n+4) a:visited,
#outer #header .dropdown-menu li:nth-of-type(6n+4) a:link {
  background-color: #1b0f40;
  color: white;
}

#outer #header .dropdown-menu li:nth-of-type(6n+5) a,
#outer #header .dropdown-menu li:nth-of-type(6n+5) a:visited,
#outer #header .dropdown-menu li:nth-of-type(6n+5) a:link {
  background-color: #4660b1;
  color: white;
}

#outer #header .dropdown-menu li:nth-of-type(6n+6) a,
#outer #header .dropdown-menu li:nth-of-type(6n+6) a:visited,
#outer #header .dropdown-menu li:nth-of-type(6n+6) a:link {
  background-color: #b35bd6;
  color: white;
}

#outer #header .dropdown-menu li:nth-of-type(6n+1) a:hover,
#outer #header .dropdown-menu li:nth-of-type(6n+1) a:focus {
  text-decoration: underline;
  color: white !important;
}

#outer #header .dropdown-menu li:nth-of-type(6n+2) a:hover,
#outer #header .dropdown-menu li:nth-of-type(6n+2) a:focus {
  text-decoration: underline;
  color: #1b0f40 !important;
}

#outer #header .dropdown-menu li:nth-of-type(6n+3) a:hover,
#outer #header .dropdown-menu li:nth-of-type(6n+3) a:focus {
  text-decoration: underline;
  color: white !important;
}

#outer #header .dropdown-menu li:nth-of-type(6n+4) a:hover,
#outer #header .dropdown-menu li:nth-of-type(6n+4) a:focus {
  text-decoration: underline;
  color: white !important;
}

#outer #header .dropdown-menu li:nth-of-type(6n+5) a:hover,
#outer #header .dropdown-menu li:nth-of-type(6n+5) a:focus {
  text-decoration: underline;
  color: white !important;
}

#outer #header .dropdown-menu li:nth-of-type(6n+6) a:hover,
#outer #header .dropdown-menu li:nth-of-type(6n+6) a:focus {
  text-decoration: underline;
  color: white !important;
}

#header .primary .menu .current {
  background-color: #b35bd6;
  color: white;
}

#header .dropdown:hover a.dropdown-toggle {
  color: #1b0f40 !important;
}

/*end of the menuuuu*/
/*
========
Footer
========
*/
#outer #footer {
  background: linear-gradient(to bottom, #ff84a8 0%, #ff84a8 20%, #fcf5ff 20%, #fcf5ff 40%, #b35bd6 40%, #b35bd6 60%, #1b0f40 60%, #1b0f40 80%, #4660b1 80%, #4660b1);
  border-top: none;
}
#outer #footer a,
#outer #footer .heading,
#outer #footer li {
  color: #1b0f40;
}

/*
end of the footer
*/
/*
========================
Accent color and links
(it makes it with 
a transparent bg
and the border)
========================
*/
.splash .module h3,
a,
a:link,
a:visited,
.blurb h4 a,
.blurb h4 a:link,
.blurb h4 a:visited {
  background: rgba(255, 132, 168, 0.1);
  background-color: rgba(255, 132, 168, 0.1);
  border: 1px solid #1b0f40;
  padding: 4px;
  line-height: 30px;
  color: inherit;
}

a:hover,
a:hover:visited,
.blurb h4 a:hover,
.blurb h4 a:visited:hover,
a.tag:hover,
a.tag:visited:hover,
h5.fandoms a.tag:visited:hover,
h5.fandoms a.tag:hover,
.listbox .heading a.tag:visited:hover {
  background-color: #b35bd6;
  background: #b35bd6;
  border: 1px solid #b35bd6;
  color: white !important;
}

/*
end of accent color
*/
/*Favorites in Home*/
.splash .favorite a {
  border: 1px solid;
}

.splash .favorite li {
  margin: 3px;
}

.splash .favorite li a.tag, .splash .favorite li:nth-of-type(odd) a.tag {
  background-color: transparent;
}

.splash .favorite li:nth-of-type(6n+1) a.tag {
  border-color: #ff84a8;
}

.splash .favorite li:nth-of-type(6n+2) a.tag {
  border-color: #fcf5ff;
}

.splash .favorite li:nth-of-type(6n+3) a.tag {
  border-color: #b35bd6;
}

.splash .favorite li:nth-of-type(6n+4) a.tag {
  border-color: #1b0f40;
}

.splash .favorite li:nth-of-type(6n+5) a.tag {
  border-color: #4660b1;
}

.splash .favorite li:nth-of-type(6n+6) a.tag {
  border-color: #b35bd6;
}

.splash .favorite li:nth-of-type(6n+1) a.tag:hover {
  background-color: #ff84a8;
  color: white;
}

.splash .favorite li:nth-of-type(6n+2) a.tag:hover {
  background-color: #fcf5ff;
  color: #1b0f40;
}

.splash .favorite li:nth-of-type(6n+3) a.tag:hover {
  background-color: #b35bd6;
  color: white;
}

.splash .favorite li:nth-of-type(6n+4) a.tag:hover {
  background-color: #1b0f40;
  color: white;
}

.splash .favorite li:nth-of-type(6n+5) a.tag:hover {
  background-color: #4660b1;
  color: white;
}

.splash .favorite li:nth-of-type(6n+6) a.tag:hover {
  background-color: #b35bd6;
  color: white;
}

#header .user a[href*=logout]:hover {
  /*logout button*/
  background: #b35bd6;
  color: white !important;
}

.blurb ul.required-tags li,
.icon a:hover,
h3.heading a,
.blurb ul.required-tags li a,
.blurb ul.required-tags li span,
.icon a,
.heading a.question,
a.modal.help,
.bookmark .count a {
  /*removes the border from some stuff because it looks weird*/
  border: none;
  background-color: transparent;
}

/* Some weird stuff was happening in the news posts so I reverted the links back  */
.news a,
.news a:link {
  border: none;
  background: none;
  background-color: transparent;
  text-decoration: underline;
  padding: initial;
  line-height: initial;
}

.news .actions a,
.news .actions a:link {
  padding: 0.25em 0.75em;
  line-height: 18px;
  text-decoration: none;
}

/* end of the news stuff*/
dd.bookmarks a {
  line-height: initial;
  border: none;
}

.blurb h4 a:visited,
h5.fandoms a.tag {
  color: inherit !important;
}

/*
========
HEADER
========
*/
#header .heading a:hover {
  color: rgba(255, 132, 168, 0.1);
  border: none;
}

#outer #header {
  color: white;
  background: linear-gradient(to bottom, #ff84a8 0%, #ff84a8 20%, #fcf5ff 20%, #fcf5ff 40%, #b35bd6 40%, #b35bd6 60%, #1b0f40 60%, #1b0f40 80%, #4660b1 80%, #4660b1);
}

#outer #outer #header .primary,
#header ul.primary {
  background: none;
}

#outer #header a,
#header a:visited {
  color: inherit;
}

#header a.dropdown-toggle,
#header .current,
#header .primary .open a,
#header .primary .dropdown a:focus {
  color: white;
  background-color: transparent;
}

#header .heading a,
#header #greeting a.dropdown-toggle,
#header .user a[href*=logout] {
  color: #1b0f40 !important;
}

#header .primary a.dropdown-toggle,
#header .primary li:hover a.dropdown-toggle {
  color: white !important;
  background-color: transparent !important;
}

#header .logo {
  background: #ffffff;
  width: 40px;
  height: auto;
  margin-right: 10px;
  padding: 5px;
  border-radius: 3px;
}

#header .heading {
  padding: 0.375em;
  margin: 1em;
  background: #fcf5ff;
  box-shadow: 5px 5px 0px #b35bd6;
}

#login,
#greeting {
  padding: 0.375em;
  margin: 1em;
  background: #fcf5ff;
  box-shadow: 5px 5px 0 #b35bd6;
}

#footer .module {
  max-width: 20%;
  margin: 0 2%;
  background: #fcf5ff;
  box-shadow: 5px 5px 0 #b35bd6;
  padding: 5px;
}

/*Search button*/
#header #search .button {
  background: #fcf5ff;
  color: #4660b1;
}

#header #search .text,
#header #search input:focus {
  background: #fcf5ff;
  color: #4660b1;
}

/*end of search button*/
/*end of the header*/
/*
============
    TAGS!
============
*/
li.relationships a,
dl.meta dd.relationship a.tag {
  background: rgba(255, 132, 168, 0.1);
  border: 1px solid #ff84a8;
  color: inherit !important;
}
li.relationships a:hover, li.relationships a:visited:hover,
dl.meta dd.relationship a.tag:hover,
dl.meta dd.relationship a.tag:visited:hover {
  background: #ff84a8;
  border: 1px solid #ff84a8;
  color: white !important;
}

li.characters a,
dl.meta dd.character a.tag {
  background: rgba(179, 91, 214, 0.1);
  border: 1px solid #b35bd6;
  color: inherit !important;
}
li.characters a:hover, li.characters a:visited:hover,
dl.meta dd.character a.tag:hover,
dl.meta dd.character a.tag:visited:hover {
  background: #b35bd6;
  border: 1px solid #b35bd6;
  color: white !important;
}

li.freeforms a,
dl.meta dd.freeform a.tag {
  background: rgba(70, 96, 177, 0.1);
  border: 1px solid #4660b1;
  color: inherit !important;
}
li.freeforms a:hover, li.freeforms a:visited:hover,
dl.meta dd.freeform a.tag:hover,
dl.meta dd.freeform a.tag:visited:hover {
  background: #4660b1;
  border: 1px solid #4660b1;
  color: white !important;
}

/*this is where the tags end*/
/*
=====================
BORDERS
(in the box, around the blurb, 
the one with the flag colors)
=====================
*/
li.comment,
.listbox,
fieldset,
li.blurb,
dl.work.meta.group {
  border: 1px solid;
  border-image-source: linear-gradient(to bottom, #ff84a8 0%, #ff84a8 20%, #fcf5ff 20%, #fcf5ff 40%, #b35bd6 40%, #b35bd6 60%, #1b0f40 60%, #1b0f40 80%, #4660b1 80%, #4660b1);
  border-image-slice: 1;
}

/*end of the borders*/
/*
===================
DASHBOARD SIDE MENU
===================
*/
#dashboard.own {
  border-image-source: linear-gradient(to bottom, #ff84a8 0%, #ff84a8 20%, #fcf5ff 20%, #fcf5ff 40%, #b35bd6 40%, #b35bd6 60%, #1b0f40 60%, #1b0f40 80%, #4660b1 80%, #4660b1);
  border-image-slice: 1;
}

#dashboard a {
  border: 1px solid transparent;
}

#dashboard .current {
  background: #b35bd6;
  border: 1px solid #b35bd6;
  color: white;
}

#dashboard li:nth-of-type(6n+1) a:hover {
  background: #ff84a8;
  border: 1px solid #ff84a8;
  color: white !important;
}

#dashboard li:nth-of-type(6n+2) a:hover {
  background: #fcf5ff;
  border: 1px solid #fcf5ff;
  color: #1b0f40 !important;
}

#dashboard li:nth-of-type(6n+3) a:hover {
  background: #b35bd6;
  border: 1px solid #b35bd6;
  color: white !important;
}

#dashboard li:nth-of-type(6n+4) a:hover {
  background: #1b0f40;
  border: 1px solid #1b0f40;
  color: white !important;
}

#dashboard li:nth-of-type(6n+5) a:hover {
  background: #4660b1;
  border: 1px solid #4660b1;
  color: white !important;
}

#dashboard li:nth-of-type(6n+6) a:hover {
  background: #b35bd6;
  border: 1px solid #b35bd6;
  color: white !important;
}

/* end of dashboard*/
/*
================
ASSIGNED TABLE
================
*/
.assigned tr:nth-of-type(6n+1) a {
  background: rgba(255, 132, 168, 0.1);
  border: 1px solid #ff84a8;
  color: inherit !important;
}
.assigned tr:nth-of-type(6n+1) a:hover, .assigned tr:nth-of-type(6n+1) a:visited:hover {
  background: #ff84a8;
  border: 1px solid #ff84a8;
  color: white !important;
}

.assigned tr:nth-of-type(6n+2) a {
  background: rgba(252, 245, 255, 0.1);
  border: 1px solid #fcf5ff;
  color: inherit !important;
}
.assigned tr:nth-of-type(6n+2) a:hover, .assigned tr:nth-of-type(6n+2) a:visited:hover {
  background: #fcf5ff;
  border: 1px solid #fcf5ff;
  color: #1b0f40 !important;
}

.assigned tr:nth-of-type(6n+3) a {
  background: rgba(179, 91, 214, 0.1);
  border: 1px solid #b35bd6;
  color: inherit !important;
}
.assigned tr:nth-of-type(6n+3) a:hover, .assigned tr:nth-of-type(6n+3) a:visited:hover {
  background: #b35bd6;
  border: 1px solid #b35bd6;
  color: white !important;
}

.assigned tr:nth-of-type(6n+4) a {
  background: rgba(27, 15, 64, 0.1);
  border: 1px solid #1b0f40;
  color: inherit !important;
}
.assigned tr:nth-of-type(6n+4) a:hover, .assigned tr:nth-of-type(6n+4) a:visited:hover {
  background: #1b0f40;
  border: 1px solid #1b0f40;
  color: white !important;
}

.assigned tr:nth-of-type(6n+5) a {
  background: rgba(70, 96, 177, 0.1);
  border: 1px solid #4660b1;
  color: inherit !important;
}
.assigned tr:nth-of-type(6n+5) a:hover, .assigned tr:nth-of-type(6n+5) a:visited:hover {
  background: #4660b1;
  border: 1px solid #4660b1;
  color: white !important;
}

.assigned tr:nth-of-type(6n+6) a {
  background: rgba(179, 91, 214, 0.1);
  border: 1px solid #b35bd6;
  color: inherit !important;
}
.assigned tr:nth-of-type(6n+6) a:hover, .assigned tr:nth-of-type(6n+6) a:visited:hover {
  background: #b35bd6;
  border: 1px solid #b35bd6;
  color: white !important;
}

/*end of assigned wrangling table*/
/*
================
BINSSSS
================
*/
#wrangulator tbody th, #wrangulator table {
  background: transparent;
}

#wrangulator tbody tr:nth-of-type(6n+1) {
  background: rgba(255, 132, 168, 0.1);
  color: inherit !important;
}
#wrangulator tbody tr:nth-of-type(6n+1):hover, #wrangulator tbody tr:nth-of-type(6n+1):visited:hover {
  background: #ff84a8;
  color: white !important;
}

#wrangulator tbody tr:nth-of-type(6n+2) {
  background: rgba(252, 245, 255, 0.1);
  color: inherit !important;
}
#wrangulator tbody tr:nth-of-type(6n+2):hover, #wrangulator tbody tr:nth-of-type(6n+2):visited:hover {
  background: #fcf5ff;
  color: #1b0f40 !important;
}

#wrangulator tbody tr:nth-of-type(6n+3) {
  background: rgba(179, 91, 214, 0.1);
  color: inherit !important;
}
#wrangulator tbody tr:nth-of-type(6n+3):hover, #wrangulator tbody tr:nth-of-type(6n+3):visited:hover {
  background: #b35bd6;
  color: white !important;
}

#wrangulator tbody tr:nth-of-type(6n+4) {
  background: rgba(27, 15, 64, 0.1);
  color: inherit !important;
}
#wrangulator tbody tr:nth-of-type(6n+4):hover, #wrangulator tbody tr:nth-of-type(6n+4):visited:hover {
  background: #1b0f40;
  color: white !important;
}

#wrangulator tbody tr:nth-of-type(6n+5) {
  background: rgba(70, 96, 177, 0.1);
  color: inherit !important;
}
#wrangulator tbody tr:nth-of-type(6n+5):hover, #wrangulator tbody tr:nth-of-type(6n+5):visited:hover {
  background: #4660b1;
  color: white !important;
}

#wrangulator tbody tr:nth-of-type(6n+6) {
  background: rgba(179, 91, 214, 0.1);
  color: inherit !important;
}
#wrangulator tbody tr:nth-of-type(6n+6):hover, #wrangulator tbody tr:nth-of-type(6n+6):visited:hover {
  background: #b35bd6;
  color: white !important;
}

/*end of bin tables*/
/* 
==================
BUTTONS WITH FLAGS
==================
*/
button,
.actions a,
.actions a:link,
.action,
input[type=submit],
.actions a:visited,
li#form-link span.current,
.listbox .index .actions a,
.listbox .index .actions a:link {
  color: inherit;
  border: 1px solid;
  border-image-slice: 1;
  background: linear-gradient(to bottom, rgba(255, 132, 168, 0.1) 20%, rgba(252, 245, 255, 0.1) 40%, rgba(179, 91, 214, 0.1) 60%, rgba(27, 15, 64, 0.1) 80%, rgba(70, 96, 177, 0.1));
  border-image-source: linear-gradient(to bottom, #ff84a8 0%, #ff84a8 20%, #fcf5ff 20%, #fcf5ff 40%, #b35bd6 40%, #b35bd6 60%, #1b0f40 60%, #1b0f40 80%, #4660b1 80%, #4660b1);
}

button:hover,
.actions a:hover,
.actions a:visited:hover,
.action:hover,
input[type=submit]:hover,
.listbox .index .actions a:hover {
  color: #1b0f40 !important;
  background: linear-gradient(to bottom, #ff84a8 0%, #ff84a8 20%, #fcf5ff 20%, #fcf5ff 40%, #b35bd6 40%, #b35bd6 60%, #1b0f40 60%, #1b0f40 80%, #4660b1 80%, #4660b1);
  border: 1px solid;
  border-image-source: linear-gradient(to bottom, #ff84a8 0%, #ff84a8 20%, #fcf5ff 20%, #fcf5ff 40%, #b35bd6 40%, #b35bd6 60%, #1b0f40 60%, #1b0f40 80%, #4660b1 80%, #4660b1);
  border-image-slice: 1;
}

/*end of buttons*/
