/*
========
Buttons!
========
*/
#header .menu,
#small_login,
#header .dropdown:hover .current + .menu,
.event .userstuff, .notice,
.comment_notice,
ul.notes,
.caution,
.error,
.comment_error,
.alert.flash,
.actions a:hover,
.actions input:hover,
.actions a:focus,
.actions input:focus,
label.action:hover,
.action:hover,
.action:focus,
.dynamic form,
.ui-draggable form, #header .primary,
.group.listbox,
fieldset fieldset.listbox,
#main li.blurb,
.wrapper,
#dashboard .secondary,
.secondary,
form blockquote.userstuff,
.thread .comment,
.toggled form,
.listbox .index,
form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend,
span.question,
fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
.delete a,
span.delete,
#header ul.primary, input, .actions input,
input[type=submit],
textarea, .actions a,
.actions a:link,
.action,
.action:link,
button,
.current,
.actions label {
  /*
    This resets the shadows in several places
    */
  box-shadow: none;
}

#footer,
.autocomplete .dropdown ul li:hover,
li.selected,
.autocomplete a:hover, form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend, input, .actions input,
input[type=submit],
textarea, .actions a,
.actions a:link,
.action,
.action:link,
button,
.current,
.actions label {
  /*
  This resets the background image from default skin in several places
  */
  background-image: none;
}

.actions input,
input[type=submit],
textarea, .actions a,
.actions a:link,
.action,
.action:link,
button,
.current,
.actions label {
  /*
  Further 3d elements to reset in webkit browsers
  */
  -webkit-appearance: none;
}

form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend,
.actions a,
.actions a:link,
.action,
.action:link,
input[type=submit],
button,
.current,
.actions label, .notice,
.comment_notice,
ul.notes,
.caution,
.error,
.comment_error,
.alert.flash,
.actions a:hover,
.actions input:hover,
.actions a:focus,
.actions input:focus,
label.action:hover,
.action:hover,
.action:focus,
.toggled form,
.dynamic form,
.ui-draggable form {
  /* Sets the style for border buttons */
  border: none;
}

.actions a,
.actions a:link,
.action,
.action:link,
button,
.current,
.actions label {
  border: none;
}

input {
  width: 96%;
  border: 1px solid;
}

.actions a:hover,
a:hover,
.actions input:hover,
#dashboard a:hover,
.actions a:focus,
.actions input:focus,
#dashboard a:focus,
.actions a:active,
.current,
a.current,
.current a:visited,
#dashboard .current,
#outer .current,
#header .current,
span.unread,
.replied,
span.claimed,
dl.index dd,
.own,
.draft,
.draft .unread,
.child,
.unwrangled,
.unreviewed,
.ui-sortable li:hover,
#header .primary .menu .current {
  /* resets the border color */
  border-color: initial;
  /* extra aggressive shadow removing */
  box-shadow: none !important;
}

form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend,
.actions a,
.actions a:link,
.action,
.action:link,
input[type=submit],
button,
.current,
.actions label {
  border-bottom: none;
}

.listbox .index,
.dashboard .listbox .index,
.splash .news li,
form dt,
.picture .header {
  /* 
  some stuff needs some aggressive non-bordering 
  */
  border: none;
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
}

#header .menu,
#small_login,
#header .dropdown:hover .current + .menu,
.event .userstuff {
  /* 
  removes some more effects of default skin
  */
  filter: none;
}

.autocomplete input,
.autocomplete .dropdown ul li {
  min-width: 10px;
}

fieldset.work.meta .fandom.required ul.autocomplete, .listbox, fieldset fieldset.listbox, fieldset, form dl, fieldset dl dl, fieldset fieldset fieldset, fieldset fieldset dl dl, dd.hideme, form blockquote.userstuff {
  background: transparent;
}

.actions input[type=checkbox] {
  appearance: auto;
}

/* here all the menuuuuu */
#header .actions a:hover,
#header .actions a:focus,
#header .dropdown:hover a,
#header .open a {
  color: black;
}

#header .dropdown:hover a,
ul.menu.dropdown-menu {
  background: transparent;
  border-color: transparent;
}

#outer #header .dropdown-menu li:nth-of-type(6n+1) a,
#outer #header .dropdown-menu li:nth-of-type(6n+1) a:visited,
#outer #header .dropdown-menu li:nth-of-type(6n+1) a:link {
  background-color: #f650d0;
  color: #000000;
}

#outer #header .dropdown-menu li:nth-of-type(6n+2) a,
#outer #header .dropdown-menu li:nth-of-type(6n+2) a:visited,
#outer #header .dropdown-menu li:nth-of-type(6n+2) a:link {
  background-color: #74e4a0;
  color: #000000;
}

#outer #header .dropdown-menu li:nth-of-type(6n+3) a,
#outer #header .dropdown-menu li:nth-of-type(6n+3) a:visited,
#outer #header .dropdown-menu li:nth-of-type(6n+3) a:link {
  background-color: #1cb8f6;
  color: #000000;
}

#outer #header .dropdown-menu li:nth-of-type(6n+4) a,
#outer #header .dropdown-menu li:nth-of-type(6n+4) a:visited,
#outer #header .dropdown-menu li:nth-of-type(6n+4) a:link {
  background-color: #f650d0;
  color: #000000;
}

#outer #header .dropdown-menu li:nth-of-type(6n+5) a,
#outer #header .dropdown-menu li:nth-of-type(6n+5) a:visited,
#outer #header .dropdown-menu li:nth-of-type(6n+5) a:link {
  background-color: #74e4a0;
  color: #000000;
}

#outer #header .dropdown-menu li:nth-of-type(6n+6) a,
#outer #header .dropdown-menu li:nth-of-type(6n+6) a:visited,
#outer #header .dropdown-menu li:nth-of-type(6n+6) a:link {
  background-color: #1cb8f6;
  color: #000000;
}

#outer #header .dropdown-menu li:nth-of-type(6n+1) a:hover,
#outer #header .dropdown-menu li:nth-of-type(6n+1) a:focus {
  text-decoration: underline;
  color: #000000 !important;
}

#outer #header .dropdown-menu li:nth-of-type(6n+2) a:hover,
#outer #header .dropdown-menu li:nth-of-type(6n+2) a:focus {
  text-decoration: underline;
  color: #000000 !important;
}

#outer #header .dropdown-menu li:nth-of-type(6n+3) a:hover,
#outer #header .dropdown-menu li:nth-of-type(6n+3) a:focus {
  text-decoration: underline;
  color: #000000 !important;
}

#outer #header .dropdown-menu li:nth-of-type(6n+4) a:hover,
#outer #header .dropdown-menu li:nth-of-type(6n+4) a:focus {
  text-decoration: underline;
  color: #000000 !important;
}

#outer #header .dropdown-menu li:nth-of-type(6n+5) a:hover,
#outer #header .dropdown-menu li:nth-of-type(6n+5) a:focus {
  text-decoration: underline;
  color: #000000 !important;
}

#outer #header .dropdown-menu li:nth-of-type(6n+6) a:hover,
#outer #header .dropdown-menu li:nth-of-type(6n+6) a:focus {
  text-decoration: underline;
  color: #000000 !important;
}

#header .primary .menu .current {
  background-color: #f650d0;
  color: #000000;
}

#header .dropdown:hover a.dropdown-toggle {
  color: #f650d0 !important;
}

/*end of the menuuuu*/
/*This chhis changes the footer*/
#outer #footer {
  background: linear-gradient(to bottom, #f650d0 0%, #f650d0 33%, #74e4a0 33%, #74e4a0 66%, #1cb8f6 66%, #1cb8f6);
  border-top: none;
}
#outer #footer a, #outer #footer .heading, #outer #footer li {
  color: #000000;
}

/*end of the footer*/
/*this changes the accent color. titles and links*/
.splash .module h3,
a,
a:link,
a:visited,
.blurb h4 a,
.blurb h4 a:link,
.blurb h4 a:visited {
  background: rgba(116, 228, 160, 0.1);
  background-color: rgba(116, 228, 160, 0.1);
  border: 1px solid #f650d0;
  padding: 4px;
  line-height: 30px;
  color: inherit;
}

a:hover,
a:hover:visited,
.blurb h4 a:hover,
.blurb h4 a:visited:hover,
a.tag:hover,
a.tag:visited:hover, h5.fandoms a.tag:visited:hover, h5.fandoms a.tag:hover, .listbox .heading a.tag:visited:hover {
  background-color: #f650d0;
  background: #f650d0;
  border: 1px solid #f650d0;
  color: #000000 !important;
}

/*end of accent color*/
#header .user a[href*=logout]:hover {
  background: #f650d0;
  color: #000000 !important;
}

.blurb ul.required-tags li, .icon a:hover, h3.heading a, .blurb ul.required-tags li a, .blurb ul.required-tags li span, .icon a, .heading a.question, a.modal.help, .bookmark .count a {
  border: none;
  background-color: transparent;
}

.news a, .news a:link {
  border: none;
  background: none;
  background-color: transparent;
  text-decoration: underline;
  padding: initial;
  line-height: initial;
}

.news .actions a, .news .actions a:link {
  padding: 0.25em 0.75em;
  line-height: 18px;
  text-decoration: none;
}

dd.bookmarks a {
  line-height: initial;
  border: none;
}

.blurb h4 a:visited, h5.fandoms a.tag {
  color: inherit !important;
}

/*start of the header*/
#header .heading a:hover {
  color: rgba(116, 228, 160, 0.1);
  border: none;
}

#outer #header {
  color: #000000;
  background: linear-gradient(to bottom, #f650d0 0%, #f650d0 33%, #74e4a0 33%, #74e4a0 66%, #1cb8f6 66%, #1cb8f6);
}

#outer #outer #header .primary,
#header ul.primary {
  background: none;
}

#outer #header a,
#header a:visited {
  color: inherit;
}

#header a.dropdown-toggle,
#header .current,
#header .primary .open a,
#header .primary .dropdown a:focus {
  color: #000000;
  background-color: transparent;
}

#header .heading a, #header #greeting a.dropdown-toggle, #header .user a[href*=logout] {
  color: #000000 !important;
}

#header .primary a.dropdown-toggle, #header .primary li:hover a.dropdown-toggle {
  color: #000000 !important;
  background-color: transparent !important;
}

#header .logo {
  background: #ffffff;
  width: 40px;
  height: auto;
  margin-right: 10px;
  padding: 5px;
  border-radius: 3px;
}

#header .heading {
  padding: 0.375em;
  margin: 1em;
  background: #fefefe;
  box-shadow: 5px 5px 0px #f650d0;
}

#login, #greeting {
  padding: 0.375em;
  margin: 1em;
  background: #fefefe;
  box-shadow: 5px 5px 0 #f650d0;
}

#footer .module {
  max-width: 20%;
  margin: 0 2%;
  background: #fefefe;
  box-shadow: 5px 5px 0 #f650d0;
  padding: 5px;
}

#header #search .button {
  background: #74e4a0;
  color: #000000;
}

#header #search .text, #header #search input:focus {
  background: #74e4a0;
  color: #000000;
}

/*end of the header*/
/*This is where the tags start*/
li.relationships a,
dl.meta dd.relationship a.tag {
  background: rgba(246, 80, 208, 0.1);
  border: 1px solid #f650d0;
  color: inherit !important;
}
li.relationships a:hover, li.relationships a:visited:hover,
dl.meta dd.relationship a.tag:hover,
dl.meta dd.relationship a.tag:visited:hover {
  background: #f650d0;
  border: 1px solid #f650d0;
  color: #000000 !important;
}

li.characters a,
dl.meta dd.character a.tag {
  background: rgba(116, 228, 160, 0.1);
  border: 1px solid #74e4a0;
  color: inherit !important;
}
li.characters a:hover, li.characters a:visited:hover,
dl.meta dd.character a.tag:hover,
dl.meta dd.character a.tag:visited:hover {
  background: #74e4a0;
  border: 1px solid #74e4a0;
  color: #000000 !important;
}

li.freeforms a,
dl.meta dd.freeform a.tag {
  background: rgba(28, 184, 246, 0.1);
  border: 1px solid #1cb8f6;
  color: inherit !important;
}
li.freeforms a:hover, li.freeforms a:visited:hover,
dl.meta dd.freeform a.tag:hover,
dl.meta dd.freeform a.tag:visited:hover {
  background: #1cb8f6;
  border: 1px solid #1cb8f6;
  color: #000000 !important;
}

/*this is where the tags end*/
/*this is what makes the tiny flag borders around stuff*/
li.comment,
.listbox,
fieldset, li.blurb, dl.work.meta.group {
  border: 1px solid;
  border-image-source: linear-gradient(to bottom, #f650d0 0%, #f650d0 33%, #74e4a0 33%, #74e4a0 66%, #1cb8f6 66%, #1cb8f6);
  border-image-slice: 1;
}

/*end of the border*/
/*This makes the dashboard side menu links*/
#dashboard.own {
  border-image-source: linear-gradient(to bottom, #f650d0 0%, #f650d0 33%, #74e4a0 33%, #74e4a0 66%, #1cb8f6 66%, #1cb8f6);
  border-image-slice: 1;
}

#dashboard a {
  border: 1px solid transparent;
}

#dashboard .current {
  background: #f650d0;
  border: 1px solid #f650d0;
  color: #000000;
}

#dashboard li:nth-of-type(6n+1) a:hover {
  background: #f650d0;
  border: 1px solid #f650d0;
  color: #000000 !important;
}

#dashboard li:nth-of-type(6n+2) a:hover {
  background: #74e4a0;
  border: 1px solid #74e4a0;
  color: #000000 !important;
}

#dashboard li:nth-of-type(6n+3) a:hover {
  background: #1cb8f6;
  border: 1px solid #1cb8f6;
  color: #000000 !important;
}

#dashboard li:nth-of-type(6n+4) a:hover {
  background: #f650d0;
  border: 1px solid #f650d0;
  color: #000000 !important;
}

#dashboard li:nth-of-type(6n+5) a:hover {
  background: #74e4a0;
  border: 1px solid #74e4a0;
  color: #000000 !important;
}

#dashboard li:nth-of-type(6n+6) a:hover {
  background: #1cb8f6;
  border: 1px solid #1cb8f6;
  color: #000000 !important;
}

/* end of dashboard*/
/*wrangling table*/
.assigned tr:nth-of-type(6n+1) a {
  background: rgba(246, 80, 208, 0.1);
  border: 1px solid #f650d0;
  color: inherit !important;
}
.assigned tr:nth-of-type(6n+1) a:hover, .assigned tr:nth-of-type(6n+1) a:visited:hover {
  background: #f650d0;
  border: 1px solid #f650d0;
  color: #000000 !important;
}

.assigned tr:nth-of-type(6n+2) a {
  background: rgba(116, 228, 160, 0.1);
  border: 1px solid #74e4a0;
  color: inherit !important;
}
.assigned tr:nth-of-type(6n+2) a:hover, .assigned tr:nth-of-type(6n+2) a:visited:hover {
  background: #74e4a0;
  border: 1px solid #74e4a0;
  color: #000000 !important;
}

.assigned tr:nth-of-type(6n+3) a {
  background: rgba(28, 184, 246, 0.1);
  border: 1px solid #1cb8f6;
  color: inherit !important;
}
.assigned tr:nth-of-type(6n+3) a:hover, .assigned tr:nth-of-type(6n+3) a:visited:hover {
  background: #1cb8f6;
  border: 1px solid #1cb8f6;
  color: #000000 !important;
}

.assigned tr:nth-of-type(6n+4) a {
  background: rgba(246, 80, 208, 0.1);
  border: 1px solid #f650d0;
  color: inherit !important;
}
.assigned tr:nth-of-type(6n+4) a:hover, .assigned tr:nth-of-type(6n+4) a:visited:hover {
  background: #f650d0;
  border: 1px solid #f650d0;
  color: #000000 !important;
}

.assigned tr:nth-of-type(6n+5) a {
  background: rgba(116, 228, 160, 0.1);
  border: 1px solid #74e4a0;
  color: inherit !important;
}
.assigned tr:nth-of-type(6n+5) a:hover, .assigned tr:nth-of-type(6n+5) a:visited:hover {
  background: #74e4a0;
  border: 1px solid #74e4a0;
  color: #000000 !important;
}

.assigned tr:nth-of-type(6n+6) a {
  background: rgba(28, 184, 246, 0.1);
  border: 1px solid #1cb8f6;
  color: inherit !important;
}
.assigned tr:nth-of-type(6n+6) a:hover, .assigned tr:nth-of-type(6n+6) a:visited:hover {
  background: #1cb8f6;
  border: 1px solid #1cb8f6;
  color: #000000 !important;
}

/*end of wrangling table*/
/* buttons!*/
button,
.actions a,
.actions a:link,
.action,
input[type=submit],
.actions a:visited,
li#form-link span.current,
.listbox .index .actions a,
.listbox .index .actions a:link {
  color: inherit;
  border: 1px solid;
  border-image-slice: 1;
  background: linear-gradient(to bottom, rgba(246, 80, 208, 0.1) 33%, rgba(116, 228, 160, 0.1) 66%, rgba(28, 184, 246, 0.1));
  border-image-source: linear-gradient(to bottom, #f650d0 0%, #f650d0 33%, #74e4a0 33%, #74e4a0 66%, #1cb8f6 66%, #1cb8f6);
}

button:hover,
.actions a:hover, .actions a:visited:hover,
.action:hover,
input[type=submit]:hover, .listbox .index .actions a:hover {
  color: #000000 !important;
  background: linear-gradient(to bottom, #f650d0 0%, #f650d0 33%, #74e4a0 33%, #74e4a0 66%, #1cb8f6 66%, #1cb8f6);
  border: 1px solid;
  border-image-source: linear-gradient(to bottom, #f650d0 0%, #f650d0 33%, #74e4a0 33%, #74e4a0 66%, #1cb8f6 66%, #1cb8f6);
  border-image-slice: 1;
}

/*end of buttons*/
