

button,
.actions a,
.actions a:link,
.action,
input[type="submit"],
.actions a:visited,
li#form-link span.current,
.listbox .index .actions a,
.listbox .index .actions a:link {
    color: $textpastel;
    border: 1px solid;
    border-image-slice: 1;
    @include gradient(pastel);
    @include gradient(null, border);
}


button:hover,
.actions a:hover, .actions a:visited:hover,
.action:hover,
input[type="submit"]:hover {
    color: $buttonhover;
        @include gradient;
        border: 1px solid;
        @include gradient(null, border);
    border-image-slice: 1;
}

//footer

#outer #footer {
    @include gradient;
    border-top: none;
    a, .heading, li {
        color: $colorfooter;
    }
}

//accent color. titles and links

.splash .module h3,
a,
a:link,
a:visited,
.blurb h4 a:link,
.blurb h4 a,
.blurb h4 a:visited,
.blurb h4 img {

    background: $accentcolor;
    border: 1px solid $readableaccent;
    padding: 4px;
    line-height: 30px;
    color: $textpastel;
}

.blurb ul.required-tags li, .blurb ul.required-tags li a, .blurb ul.required-tags li span, .icon a, .heading a.question, a.modal.help {
    //removes the border from the required tags icon because it looks weird
    border: none;
    background-color: transparent;
}

.blurb h4 a:visited, h5.fandoms a.tag {
    color: $textpastel !important;	
}

a:hover, a:hover:visited,
.blurb h4 a:hover,
.blurb h4 a:visited:hover {
    background-color: $accentcolorhover;
    border: 1px solid $readableaccent;
    color: $overalltext;
}


#header .heading a:hover {
       color: $accentcolor; 
}

//header

@include header;

//this is the menu hover
#header .actions a:hover,
#header .actions a:focus,
#header .dropdown:hover a,
#header .open a {
    color: black;
}

#header .dropdown .menu li:nth-of-type(6n+1) a:hover,
#header .dropdown .menu li:nth-of-type(6n+1)  a:focus, #header .primary .menu .current {
    background: $menucolor1;
    color: $color1text !important;
}

#header .dropdown .menu li:nth-of-type(6n+2) a:hover,
#header .dropdown .menu li:nth-of-type(6n+2)  a:focus {
    background: $menucolor2;
    color: $color2text !important;
}

#header .dropdown .menu li:nth-of-type(6n+3) a:hover,
#header .dropdown .menu li:nth-of-type(6n+3)  a:focus {
    background: $menucolor3;
    color: $color3text !important;
}
#header .dropdown .menu li:nth-of-type(6n+4) a:hover,
#header .dropdown .menu li:nth-of-type(6n+4)  a:focus {
    background: $menucolor4;
    color: $color4text !important;
}
#header .dropdown .menu li:nth-of-type(6n+5) a:hover,
#header .dropdown .menu li:nth-of-type(6n+5)  a:focus {
    background: $menucolor5;
    color: $color5text !important;
}
#header .dropdown .menu li:nth-of-type(6n+6) a:hover,
#header .dropdown .menu li:nth-of-type(6n+6)  a:focus {
    background: $menucolor6;
    color: $color6text !important;
}



#header .dropdown:hover a,
ul.menu.dropdown-menu {
    background: $menubg;
    border-color: $menubg;
}

#outer #header li:nth-of-type(6n+1) a,
#outer #header li:nth-of-type(6n+1) a:visited,
#outer #header li:nth-of-type(6n+1) a:link {
    color: $menucolor1;
}

#outer #header li:nth-of-type(6n+2) a,
#outer #header li:nth-of-type(6n+2) a:visited,
#outer #header li:nth-of-type(6n+2) a:link {
    color: $menucolor2;
}

#outer #header li:nth-of-type(6n+3) a,
#outer #header li:nth-of-type(6n+3) a:visited,
#outer #header li:nth-of-type(6n+3) a:link {
    color: $menucolor3;
}

#outer #header li:nth-of-type(6n+4) a,
#outer #header li:nth-of-type(6n+4) a:visited,
#outer #header li:nth-of-type(6n+4) a:link {
    color: $menucolor4;
}

#outer #header li:nth-of-type(6n+5) a,
#outer #header li:nth-of-type(6n+5) a:visited,
#outer #header li:nth-of-type(6n+5) a:link {
    color: $menucolor5;
}

#outer #header li:nth-of-type(6n+6) a,
#outer #header li:nth-of-type(6n+6) a:visited,
#outer #header li:nth-of-type(6n+6) a:link {
    color: $menucolor6;
}



#header .dropdown:hover a.dropdown-toggle {
    color: $readableaccent !important;
}



//the search button. changing color
#header #search .button {
    background: $searchbg;
    color: $searchtxt;
}

#header #search .text, #header #search input:focus {
    background: $searchbg;
    color: $searchtxt;
}

//tags in blurb and work page
li.relationships a,
dl.meta dd.relationship a.tag {
    background: $colorrel;
    border: 1px solid $color1;
    color: $textpastel !important;
}

li.characters a,
dl.meta dd.character a.tag {
    background: $colorchar;
    border: 1px solid $color2;
    color: $textpastel !important;
}

li.freeforms a,
dl.meta dd.freeform a.tag {
    background: $colorff;
    border: 1px solid $color3;
    color: $textpastel !important;
}

//tags hover
a.tag:hover,
.listbox .heading a.tag:visited:hover {
    color: $contrasttext;
    background: $accentcolorhover;
}




//gradient borders 
li.comment,
.listbox,
fieldset, li.blurb, dl.work.meta.group {
    border: 1px solid;
    @include gradient(null, border);
    //border-image-source: $gradient;
    border-image-slice: 1;
}

//dashboard border
#dashboard.own {
        @include gradient(null, border);
    border-image-slice: 1;	
}

#dashboard a {
        border: 1px solid transparent;
}
#dashboard .current {
    background: $color1pastel;
    border: 1px solid $color1;
    color: $textpastel !important;
}

//dashboard links
#dashboard li:nth-of-type(3n+1) a:hover {
	background: $color1pastel;
	border: 1px solid $color1;
	color: $textpastel !important;
}
#dashboard li:nth-of-type(3n+2) a:hover {
	background: $color2pastel;
	border: 1px solid $color2;
	color: $textpastel !important;
}
#dashboard li:nth-of-type(3n+3) a:hover {
	background: $color3pastel;
	border: 1px solid $color3;
	color: $textpastel !important;
}