



//footer

#outer #footer {
    @include gradient;
    border-top: none;
    a, .heading, li {
        color: $colorfooter;
    }
}

//accent color. titles and links

.splash .module h3,
a,
a:link,
a:visited,
.blurb h4 a,
.blurb h4 a:link,
.blurb h4 a:visited{
    background: $accentcolor;
    background-color: $accentcolor;
    border: 1px solid $readableaccent;
    padding: 4px;
    line-height: 30px;
    color: $textpastel;
}

a:hover, 
a:hover:visited,
.blurb h4 a:hover,
.blurb h4 a:visited:hover, 
a.tag:hover, 
a.tag:visited:hover, h5.fandoms a.tag:visited:hover, h5.fandoms a.tag:hover,  .listbox .heading a.tag:visited:hover {
    background-color: $accentcolorhover;
    background: $accentcolorhover;
    border: 1px solid $accentcolorhover;
    color: $texthover !important;
}

#header .user a[href*="logout"]:hover {
    background: $accentcolorhover;
    color: $texthover !important;
}

.blurb ul.required-tags li, .icon a:hover, h3.heading a, .blurb ul.required-tags li a, .blurb ul.required-tags li span, .icon a, .heading a.question, a.modal.help, .bookmark .count a {
    //removes the border from some stuff because it looks weird
    border: none;
    background-color: transparent;
}

//damned news
.news a, .news a:link {
    border: none;
    background: none;
        background-color: transparent;
    text-decoration: underline;
    padding: initial;
    line-height: initial;
}
.news .actions a, .news .actions a:link {
    padding: .25em .75em;
    line-height: 18px;
    text-decoration: none;
}

.blurb h4 a:visited, h5.fandoms a.tag {
    color: $textpastel !important;	
}





#header .heading a:hover {
       color: $accentcolor; 
       border: none;
}

//header

@include header;


//the search button. changing color
#header #search .button {
    background: $searchbg;
    color: $searchtxt;
}

#header #search .text, #header #search input:focus {
    background: $searchbg;
    color: $searchtxt;
}

//tags in blurb and work page
li.relationships a,
dl.meta dd.relationship a.tag {
    background: $colorrel;
    border: 1px solid opacify($colorrel, 0.9);
    color: $textpastel !important;
    &:hover, &:visited:hover {
        background: opacify($colorrel, 0.9);
        border: 1px solid opacify($colorrel, 0.9);
        color: $textrel !important;
    }
}

li.characters a,
dl.meta dd.character a.tag {
    background: $colorchar;
    border: 1px solid opacify($colorchar, 0.9);
    color: $textpastel !important;
        &:hover, &:visited:hover {
        background: opacify($colorchar, 0.9);
        border: 1px solid opacify($colorchar, 0.9);
        color: $textchar !important;
    }
}

li.freeforms a,
dl.meta dd.freeform a.tag {
    background: $colorff;
    border: 1px solid opacify($colorff, 0.9);
    color: $textpastel !important;
        &:hover, &:visited:hover {
        background: opacify($colorff, 0.9);
        border: 1px solid opacify($colorff, 0.9);
        color: $textff !important;
    }
}






//gradient borders 
li.comment,
.listbox,
fieldset, li.blurb, dl.work.meta.group {
    border: 1px solid;
    @include gradient(null, border);
    //border-image-source: $gradient;
    border-image-slice: 1;
}

//dashboard border
#dashboard.own {
        @include gradient(null, border);
    border-image-slice: 1;	
}

#dashboard a {
        border: 1px solid transparent;
}
#dashboard .current {
    background: $accentcolorhover;
    border: 1px solid $accentcolorhover;
    color: $texthover;
}

//dashboard links
#dashboard li:nth-of-type(6n+1) a:hover {
        background: $menucolor1;
        border: 1px solid $menucolor1;
        color: $color1text !important;
}
#dashboard li:nth-of-type(6n+2) a:hover {
        background: $menucolor2;
        border: 1px solid $menucolor2;
        color: $color2text !important;
}
#dashboard li:nth-of-type(6n+3) a:hover {
        background: $menucolor3;
        border: 1px solid $menucolor3;
        color: $color3text !important;
}
#dashboard li:nth-of-type(6n+4) a:hover {
        background: $menucolor4;
        border: 1px solid $menucolor4;
        color: $color4text !important;
}
#dashboard li:nth-of-type(6n+5) a:hover {
        background: $menucolor5;
        border: 1px solid $menucolor5;
        color: $color5text !important;
}
#dashboard li:nth-of-type(6n+6) a:hover {
        background: $menucolor6;
        border: 1px solid $menucolor6;
        color: $color6text !important;
}


button,
.actions a,
.actions a:link,
.action,
input[type="submit"],
.actions a:visited,
li#form-link span.current,
.listbox .index .actions a,
.listbox .index .actions a:link {
    color: $textpastel;
    border: 1px solid;
    border-image-slice: 1;
    @include gradient(pastel);
    @include gradient(null, border);
}


button:hover,
.actions a:hover, .actions a:visited:hover,
.action:hover,
input[type="submit"]:hover, .listbox .index .actions a:hover {
    color: $buttonhover !important;
        @include gradient;
        border: 1px solid;
        @include gradient(null, border);
    border-image-slice: 1;
}