@charset "iso-8859-1";





//flag colors
$color1: rgba(27, 156, 74, 1);
$color2: rgba(156, 208, 166, 1);
$color3: rgba(255, 249, 245, 1);
$color4: rgba(160, 164, 172, 1);
$color5: rgba(14, 26, 26, 1);

$direction: to bottom;

$what: aro;
$requiresbg: yes;

//stuff
$overalltext: rgba(255, 255, 255, 1);
$textpastel: inherit;
$menubg: #fefefe;
$contrasttext: $overalltext;
$colorfooter: $color5;

@import 'colors';

//setting stuff for eventual flags with nightmarish colors
$color1text: $contrasttext;
$color2text: $contrasttext;
$color3text: $overalltext;
$color4text: $contrasttext;
$color5text: $contrasttext;
$color6text: $contrasttext;


//f*cking menu
$menucolor1: darken($color1, 10%);
$menucolor2: darken($color2, 10%);
$menucolor3: $color4;
$menucolor4: darken($color4, 20%);
$menucolor5: darken($color5, 10%);
$menucolor6: darken($color1, 10%);


//accent = links
$accentcolor: $color4pastel;
$accentcolorhover: $color2pastel;

//header color (white??)
$headercolorbg: $color3;
$headercolorborder: $color2;

//needs to have a contrast with the background. not pastel.
$readableaccent: $color4;

//tags
$colorrel: $color1pastel;
$colorchar: $color2pastel;
$colorff: $color4pastel;

//searchbar
$searchbg: $color3;
$searchtxt: $color1;

@import 'buttons';
@import 'everything';





