@charset "iso-8859-1";


//flag colors
$color1: rgba(14, 7, 33, 1);
$color2: rgba(164, 158, 173, 1);
$color3: rgba(255, 252, 249, 1);
$color4: rgba(130, 41, 133, 1);

$direction: to bottom;

$what: asexual;
$requiresbg: yes;

//stuff
$overalltext: #000000;
$textpastel: inherit;
$menubg: #fefefe;
$contrasttext: $overalltext;
$colorfooter: $overalltext;

@import 'colors';

//setting stuff for eventual flags with nightmarish colors
$color1text: $color3;
$color2text: $contrasttext;
$color3text: $contrasttext;
$color4text: $color3;
$color5text: $contrasttext;
$color6text: $contrasttext;


//f*cking menu
$menucolor1: $color1;
$menucolor2: $color2;
$menucolor3: $color3;
$menucolor4: $color4;
$menucolor5: $color3;
$menucolor6: $color2;


//accent = links
$accentcolor: $color4pastel;
$accentcolorhover: $color2;
$buttonhover: $overalltext;
$texthover: $color2text;

//header color (white??)
$headercolorbg: $color3;
$headercolorborder: $color4;

//needs to have a contrast with the background. not pastel.
$readableaccent: $color4;

//tags
$colorrel: $color1pastel;
$colorchar: $color2pastel;
$colorff: $color4pastel;
$textrel:$color1text;
$textchar:$color2text;
$textff:$color4text;

//searchbar
$searchbg: $color3;
$searchtxt: $color4;

@import 'buttons';
@import 'menu';
@import 'everything';





