@charset "iso-8859-1";



//flag colors
$color1: rgba(0, 0, 0, 1);
$color2: rgba(164, 164, 164, 1);
$color3: rgba(255, 255, 255, 1);
$color4: rgba(129, 0, 129, 1);

$direction: to bottom;


//stuff
$overalltext: #000000;
$textpastel: inherit;
$menubg: #fefefe;


@import 'colors';

//setting stuff for eventual flags with nightmarish colors
$color1text: $textpastel;
$color2text: $textpastel;
$color3text: $textpastel;
$color4text: $textpastel;

//accent = links
$accentcolor: $color4pastel;
$accentcolorhover: $color2pastel;

//needs to have a contrast with the background. not pastel.
$readableaccent: $color4;



@import 'buttons';
@import 'everything';



