@charset "iso-8859-1";



//flag colors
$color1: rgba(214, 51, 138, 1);
$color2: rgba(158, 73, 174, 1);
$color3: rgba(17, 55, 173, 1);

$direction: to bottom;

$what: bisexual;
$requiresbg: no;

//stuff
$overalltext: #ffffff;
$textpastel: inherit;
$menubg: #fefefe;
$colorfooter: $overalltext;
$contrasttext: $overalltext;


@import 'colors';


//setting stuff for eventual flags with nightmarish colors
$color1text: $contrasttext;
$color2text: $contrasttext;
$color3text: $contrasttext;
$color4text: $contrasttext;
$color5text: $contrasttext;
$color6text: $contrasttext;


//f*cking menu
$menucolor1: $color1;
$menucolor2: $color2;
$menucolor3: $color3;
$menucolor4: $color1;
$menucolor5: $color2;
$menucolor6: $color3;


//accent = links
$accentcolor: $color2pastel;
$accentcolorhover: $color1;
$buttonhover: $overalltext;

//needs to have a contrast with the background. not pastel.
$readableaccent: $color1;

//tags
$colorrel: $color1pastel;
$colorchar: $color2pastel;
$colorff: $color3pastel;

//searchbar
$searchbg: $color1;
$searchtxt: $overalltext;

@import 'buttons';
@import 'everything';


