@charset "iso-8859-1";



//flag colors
$color1: rgba(208, 0, 112, 1);
$color2: rgba(140, 71, 153, 1);
$color3: rgba(0, 50, 160, 1);

$direction: to bottom;

$what: bisexual;

//stuff
$overalltext: #ffffff;
$textpastel: inherit;
$menubg: #fefefe;



@import 'colors';


//setting stuff for eventual flags with nightmarish colors
$color1text: $textpastel;
$color2text: $textpastel;
$color3text: $textpastel;

//f*cking menu
$menucolor1: $color1;
$menucolor2: $color2;
$menucolor3: $color3;
$menucolor4: $color1;
$menucolor5: $color2;
$menucolor6: $color3;
$menucolor7: $color1;

//accent = links
$accentcolor: $color2pastel;
$accentcolorhover: $color1pastel;

//needs to have a contrast with the background. not pastel.
$readableaccent: $color1;



@import 'buttons';
@import 'everything';


