@charset "iso-8859-1";


//flag colors
$color1: rgba(239, 96, 64, 1);
$color2: rgba(252, 176, 109, 1);
$color3: rgba(255, 246, 243, 1);
$color4: rgba(214, 109, 193, 1);
$color5: rgba(192, 18, 143, 1);

$direction: to bottom;

$what: lesbian;
$requiresbg: yes;

//stuff
$overalltext: #000000;
$textpastel: inherit;
$menubg: #fefefe;
$contrasttext: rgba(0, 0, 0, 1);
$colorfooter: $overalltext;

@import 'colors';

//setting stuff for eventual flags with nightmarish colors
$color1text: $overalltext;
$color2text: $overalltext;
$color3text: $overalltext;
$color4text: $overalltext;
$color5text: $overalltext;
$color6text: $overalltext;


//f*cking menu
$menucolor1: darken($color1, 10%);
$menucolor2: darken($color2, 10%);
$menucolor3: darken($color3, 15%);
$menucolor4: darken($color4, 10%);
$menucolor5: darken($color5, 10%);
$menucolor6: darken($color1, 10%);


//accent = links
$accentcolor: $color4pastel;
$accentcolorhover: $color2pastel;

//header color (white??)
$headercolorbg: $color3;
$headercolorborder: $color5;

//needs to have a contrast with the background. not pastel.
$readableaccent: $color4;





@import 'buttons';
@import 'everything';





