@charset "iso-8859-1";


//flag colors
$color1: rgba(244, 235, 70, 1);
$color2: rgba(254, 255, 248, 1);
$color3: rgba(165, 97, 200, 1);
$color4: rgba(30, 20, 45, 1);

$direction: to bottom;

$what: nonbinary;
$requiresbg: yes;

//stuff
$overalltext: rgba(255, 255, 255, 1);
$textpastel: inherit;
$menubg: #fefefe;
$contrasttext: $overalltext;
$colorfooter: $overalltext;

@import 'colors';

//setting stuff for eventual flags with nightmarish colors
$color1text: $contrasttext;
$color2text: $overalltext;
$color3text: $contrasttext;
$color4text: $contrasttext;
$color5text: $overalltext;
$color6text: $contrasttext;


//f*cking menu
$menucolor1: darken($color1, 15%);
$menucolor2: $color3;
$menucolor3: $color4;
$menucolor4: darken($color1, 15%);
$menucolor5: $color3;
$menucolor6: $color4;


//accent = links
$accentcolor: $color4pastel;
$accentcolorhover: $color2pastel;

//header color (white??)
$headercolorbg: $color2;
$headercolorborder: $color4;

//needs to have a contrast with the background. not pastel.
$readableaccent: $color4;





@import 'buttons';
@import 'everything';





