@charset "iso-8859-1";


//flag colors
$color1: rgba(244, 235, 70, 1);
$color2: rgba(254, 255, 248, 1);
$color3: rgba(165, 97, 200, 1);
$color4: rgba(30, 20, 45, 1);

$direction: to bottom;

$what: nonbinary;
$requiresbg: yes;

//stuff
$overalltext: rgba(255, 255, 255, 1);
$textpastel: inherit;
$menubg: rgba(254, 255, 248, 1);
$contrasttext: rgba(30, 20, 45, 1);
$colorfooter: $contrasttext;

@import 'colors';

//setting stuff for eventual flags with nightmarish colors
$color1text: $contrasttext;
$color2text: $contrasttext;
$color3text: $overalltext;
$color4text: $overalltext;
$color5text: $contrasttext;
$color6text: $contrasttext;


//f*cking menu
$menucolor1: $color1;
$menucolor2: $color2;
$menucolor3: $color3;
$menucolor4: $color4;
$menucolor5: $color1;
$menucolor6: $color2;


//accent = links
$accentcolor: $color4pastel;
$accentcolorhover: $color2;
$texthover: $color2text;
$buttonhover: $contrasttext;

//header color (white??)
$headercolorbg: $color2;
$headercolorborder: $color4;

//needs to have a contrast with the background. not pastel.
$readableaccent: $color4;

//tags
$colorrel: $color1pastel;
$colorchar: $color3pastel;
$colorff: $color4pastel;
$textrel:$color1text;
$textchar:$color3text;
$textff:$color4text;

//searchbar
$searchbg: $color2;
$searchtxt: $color3;

@import 'buttons';
@import 'menu';
@import 'everything';





