@charset "iso-8859-1";


//flag colors
$color1: rgba(255, 34, 140, 1);
$color2: rgba(255, 201, 8, 1);
$color3: rgba(34, 177, 255, 1);

$direction: to bottom;

//stuff
$overalltext: #ffffff;
$textpastel: inherit;
$menubg: #fefefe;

//pastel colors
$opacity: 0.1;

$color1pastel: rgba(255, 34, 140, $opacity);
$color2pastel: rgba(255, 216, 0, $opacity);
$color3pastel: rgba(34, 177, 255, $opacity);



//setting stuff for eventual flags with nightmarish colors
$color1text: $textpastel;
$color2text: $textpastel;
$color3text: $textpastel;

//accent = links
$accentcolor: $color2pastel;
$accentcolorhover: $color1pastel;

//needs to have a contrast with the background. not pastel.
$readableaccent: $color1;


@import 'colors';
@import 'buttons';
@import 'everything';



