@charset "iso-8859-1";


//flag colors
$color1: rgba(255, 76, 153, 1);
$color2: rgba(253, 230, 97, 1);
$color3: rgba(69, 167, 248, 1);

$direction: to bottom;

$what: pansexual;
$requiresbg: yes;

//stuff
$overalltext: #000000;
$textpastel: inherit;
$menubg: #fefefe;
$colorfooter: $overalltext;
$contrasttext: $overalltext;

@import 'colors';

//setting stuff for eventual flags with nightmarish colors
$color1text: $textpastel;
$color2text: $textpastel;
$color3text: $textpastel;
$color4text: $textpastel;
$color5text: $textpastel;
$color6text: $textpastel;


//f*cking menu
$menucolor1: $color1;
$menucolor2: darken($color2, 20%);
$menucolor3: $color3;
$menucolor4: $color1;
$menucolor5: darken($color2, 20%);
$menucolor6: $color3;


//accent = links
$accentcolor: $color2pastel;
$accentcolorhover: $color1pastel;

//header color (white??)
$headercolorbg: $menubg;
$headercolorborder: $color1;

//needs to have a contrast with the background. not pastel.
$readableaccent: $color1;



@import 'buttons';
@import 'everything';



