@charset "iso-8859-1";


//flag colors
$color1: rgba(246, 48, 63, 1);
$color2: rgba(241, 137, 4, 1);
$color3: rgba(253, 221, 0, 1);
$color4: rgba(119, 189, 30, 1);
$color5: rgba(1, 152, 207, 1);
$color6: rgba(114, 32, 130, 1);

$direction: to bottom;

$what: trans;
$requiresbg: yes;

//stuff
$overalltext: rgba(255, 255, 255, 1);
$textpastel: inherit;
$menubg: #fefefe;
$contrasttext: $overalltext;
$colorfooter: rgba(0, 0, 0, 1);

@import 'colors';

//setting stuff for eventual flags with nightmarish colors
$color1text: $overalltext;
$color2text: $overalltext;
$color3text: $overalltext;
$color4text: $overalltext;
$color5text: $overalltext;
$color6text: $overalltext;


//f*cking menu
$menucolor1: $color1;
$menucolor2: $color2;
$menucolor3: darken($color3, 15%);
$menucolor4: $color4;
$menucolor5: $color5;
$menucolor6: $color6;


//accent = links
$accentcolor: $color4pastel;
$accentcolorhover: $color2pastel;
$buttonhover: $overalltext;

//header color (white??)
$headercolorbg: $menubg;
$headercolorborder: $color3;

//needs to have a contrast with the background. not pastel.
$readableaccent: $color4;

//tags
$colorrel: $color1pastel;
$colorchar: $color2pastel;
$colorff: $color3pastel;

//searchbar
$searchbg: $color3;
$searchtxt: $color5;

@import 'buttons';
@import 'everything';





