/*
========
Buttons!
========
*/
#header .menu,
#small_login,
#header .dropdown:hover .current + .menu,
.event .userstuff, .notice,
.comment_notice,
ul.notes,
.caution,
.error,
.comment_error,
.alert.flash,
.actions a:hover,
.actions input:hover,
.actions a:focus,
.actions input:focus,
label.action:hover,
.action:hover,
.action:focus,
.dynamic form,
.ui-draggable form, #header .primary,
.group.listbox,
fieldset fieldset.listbox,
#main li.blurb,
.wrapper,
#dashboard .secondary,
.secondary,
form blockquote.userstuff,
.thread .comment,
.toggled form,
.listbox .index,
form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend,
span.question,
fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
.delete a,
span.delete,
#header ul.primary, input, .actions input,
input[type=submit],
textarea, .actions a,
.actions a:link,
.action,
.action:link,
button,
.current,
.actions label {
  /*
  This resets the shadows in several places
  */
  box-shadow: none;
}

#footer,
.autocomplete .dropdown ul li:hover,
li.selected,
.autocomplete a:hover, form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend, input, .actions input,
input[type=submit],
textarea, .actions a,
.actions a:link,
.action,
.action:link,
button,
.current,
.actions label {
  /*
  This resets the background image from default skin in several places
  */
  background-image: none;
}

.actions input,
input[type=submit],
textarea, .actions a,
.actions a:link,
.action,
.action:link,
button,
.current,
.actions label {
  /*
  Further 3d elements to reset in webkit browsers
  */
  -webkit-appearance: none;
}

form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend,
.actions a,
.actions a:link,
.action,
.action:link,
input[type=submit],
button,
.current,
.actions label, .notice,
.comment_notice,
ul.notes,
.caution,
.error,
.comment_error,
.alert.flash,
.actions a:hover,
.actions input:hover,
.actions a:focus,
.actions input:focus,
label.action:hover,
.action:hover,
.action:focus,
.toggled form,
.dynamic form,
.ui-draggable form {
  /* Sets the style for border buttons */
  border: none;
}

.actions a,
.actions a:link,
.action,
.action:link,
button,
.current,
.actions label {
  border: none;
}

input {
  width: 96%;
  border: 1px solid;
}

.actions a:hover,
a:hover,
.actions input:hover,
#dashboard a:hover,
.actions a:focus,
.actions input:focus,
#dashboard a:focus,
.actions a:active,
.current,
a.current,
.current a:visited,
#dashboard .current,
#outer .current,
#header .current,
span.unread,
.replied,
span.claimed,
dl.index dd,
.own,
.draft,
.draft .unread,
.child,
.unwrangled,
.unreviewed,
.ui-sortable li:hover,
#header .primary .menu .current {
  /* resets the border color */
  border-color: initial;
  /* extra aggressive shadow removing */
  box-shadow: none !important;
}

form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend,
.actions a,
.actions a:link,
.action,
.action:link,
input[type=submit],
button,
.current,
.actions label {
  border-bottom: none;
}

.listbox .index,
.dashboard .listbox .index,
.splash .news li,
form dt,
.picture .header {
  /* 
  some stuff needs some aggressive non-bordering 
  */
  border: none;
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
}

#header .menu,
#small_login,
#header .dropdown:hover .current + .menu,
.event .userstuff {
  /* 
  removes some more effects of default skin
  */
  filter: none;
}

.autocomplete input,
.autocomplete .dropdown ul li {
  min-width: 10px;
}

fieldset.work.meta .fandom.required ul.autocomplete, .listbox, fieldset fieldset.listbox, fieldset, form dl, fieldset dl dl, fieldset fieldset fieldset, fieldset fieldset dl dl, dd.hideme, form blockquote.userstuff {
  background: transparent;
}

button,
.actions a,
.actions a:link,
.action,
input[type=submit],
.actions a:visited,
li#form-link span.current,
.listbox .index .actions a,
.listbox .index .actions a:link {
  color: inherit;
  border: 1px solid;
  border-image-slice: 1;
  background: linear-gradient(to bottom, rgba(246, 48, 63, 0.1) 16%, rgba(241, 137, 4, 0.1) 32%, rgba(253, 221, 0, 0.1) 48%, rgba(119, 189, 30, 0.1) 64%, rgba(1, 152, 207, 0.1) 80%, rgba(114, 32, 130, 0.1));
  border-image-source: linear-gradient(to bottom, #f6303f 0%, #f6303f 16%, #f18904 16%, #f18904 32%, #fddd00 32%, #fddd00 48%, #77bd1e 48%, #77bd1e 64%, #0198cf 64%, #0198cf 80%, #722082 80%, #722082);
}

button:hover,
.actions a:hover, .actions a:visited:hover,
.action:hover,
input[type=submit]:hover {
  color: white;
  background: linear-gradient(to bottom, #f6303f 0%, #f6303f 16%, #f18904 16%, #f18904 32%, #fddd00 32%, #fddd00 48%, #77bd1e 48%, #77bd1e 64%, #0198cf 64%, #0198cf 80%, #722082 80%, #722082);
  border: 1px solid;
  border-image-source: linear-gradient(to bottom, #f6303f 0%, #f6303f 16%, #f18904 16%, #f18904 32%, #fddd00 32%, #fddd00 48%, #77bd1e 48%, #77bd1e 64%, #0198cf 64%, #0198cf 80%, #722082 80%, #722082);
  border-image-slice: 1;
}

#outer #footer {
  background: linear-gradient(to bottom, #f6303f 0%, #f6303f 16%, #f18904 16%, #f18904 32%, #fddd00 32%, #fddd00 48%, #77bd1e 48%, #77bd1e 64%, #0198cf 64%, #0198cf 80%, #722082 80%, #722082);
  border-top: none;
}
#outer #footer a, #outer #footer .heading, #outer #footer li {
  color: black;
}

.splash .module h3,
a,
a:link,
a:visited,
.blurb h4 a:link,
.blurb h4 a,
.blurb h4 a:visited,
.blurb h4 img {
  background: rgba(119, 189, 30, 0.1);
  border: 1px solid #77bd1e;
  padding: 4px;
  line-height: 30px;
  color: inherit;
}

.blurb ul.required-tags li, .blurb ul.required-tags li a, .blurb ul.required-tags li span, .icon a, .heading a.question, a.modal.help {
  border: none;
  background-color: transparent;
}

.blurb h4 a:visited, h5.fandoms a.tag {
  color: inherit !important;
}

a:hover, a:hover:visited,
.blurb h4 a:hover,
.blurb h4 a:visited:hover {
  background-color: rgba(241, 137, 4, 0.1);
  border: 1px solid #77bd1e;
  color: white;
}

#header .heading a:hover {
  color: rgba(119, 189, 30, 0.1);
}

#outer #header {
  color: white;
  background: linear-gradient(to bottom, #f6303f 0%, #f6303f 16%, #f18904 16%, #f18904 32%, #fddd00 32%, #fddd00 48%, #77bd1e 48%, #77bd1e 64%, #0198cf 64%, #0198cf 80%, #722082 80%, #722082);
}

#outer #outer #header .primary,
#header ul.primary {
  background: none;
}

#outer #header a,
#header a:visited {
  color: inherit;
}

#header a.dropdown-toggle,
#header .current,
#header .primary .open a,
#header .primary .dropdown a:focus {
  color: white;
}

#header .primary a.dropdown-toggle {
  color: white !important;
}

#header .heading a, #header #greeting a.dropdown-toggle, #header .user a[href*=logout] {
  color: black !important;
}

#header .logo {
  background: #ffffff;
  width: 40px;
  height: auto;
  margin-right: 10px;
  padding: 5px;
  border-radius: 3px;
}

#header .heading {
  padding: 0.375em;
  margin: 1em;
  background: #fefefe;
  box-shadow: 5px 5px 0px #fddd00;
}

#login, #greeting {
  padding: 0.375em;
  margin: 1em;
  background: #fefefe;
  box-shadow: 5px 5px 0 #fddd00;
}

#footer .module {
  max-width: 20%;
  margin: 0 2%;
  background: #fefefe;
  box-shadow: 5px 5px 0 #fddd00;
  padding: 5px;
}

#header .actions a:hover,
#header .actions a:focus,
#header .dropdown:hover a,
#header .open a {
  color: black;
}

#header .dropdown .menu li:nth-of-type(6n+1) a:hover,
#header .dropdown .menu li:nth-of-type(6n+1) a:focus, #header .primary .menu .current {
  background: #f6303f;
  color: white !important;
}

#header .dropdown .menu li:nth-of-type(6n+2) a:hover,
#header .dropdown .menu li:nth-of-type(6n+2) a:focus {
  background: #f18904;
  color: white !important;
}

#header .dropdown .menu li:nth-of-type(6n+3) a:hover,
#header .dropdown .menu li:nth-of-type(6n+3) a:focus {
  background: #b19a00;
  color: white !important;
}

#header .dropdown .menu li:nth-of-type(6n+4) a:hover,
#header .dropdown .menu li:nth-of-type(6n+4) a:focus {
  background: #77bd1e;
  color: white !important;
}

#header .dropdown .menu li:nth-of-type(6n+5) a:hover,
#header .dropdown .menu li:nth-of-type(6n+5) a:focus {
  background: #0198cf;
  color: white !important;
}

#header .dropdown .menu li:nth-of-type(6n+6) a:hover,
#header .dropdown .menu li:nth-of-type(6n+6) a:focus {
  background: #722082;
  color: white !important;
}

#header .dropdown:hover a,
ul.menu.dropdown-menu {
  background: #fefefe;
  border-color: #fefefe;
}

#outer #header li:nth-of-type(6n+1) a,
#outer #header li:nth-of-type(6n+1) a:visited,
#outer #header li:nth-of-type(6n+1) a:link {
  color: #f6303f;
}

#outer #header li:nth-of-type(6n+2) a,
#outer #header li:nth-of-type(6n+2) a:visited,
#outer #header li:nth-of-type(6n+2) a:link {
  color: #f18904;
}

#outer #header li:nth-of-type(6n+3) a,
#outer #header li:nth-of-type(6n+3) a:visited,
#outer #header li:nth-of-type(6n+3) a:link {
  color: #b19a00;
}

#outer #header li:nth-of-type(6n+4) a,
#outer #header li:nth-of-type(6n+4) a:visited,
#outer #header li:nth-of-type(6n+4) a:link {
  color: #77bd1e;
}

#outer #header li:nth-of-type(6n+5) a,
#outer #header li:nth-of-type(6n+5) a:visited,
#outer #header li:nth-of-type(6n+5) a:link {
  color: #0198cf;
}

#outer #header li:nth-of-type(6n+6) a,
#outer #header li:nth-of-type(6n+6) a:visited,
#outer #header li:nth-of-type(6n+6) a:link {
  color: #722082;
}

#header .dropdown:hover a.dropdown-toggle {
  color: #77bd1e !important;
}

#header #search .button {
  background: #fddd00;
  color: #722082;
}

#header #search .text, #header #search input:focus {
  background: #fddd00;
  color: #722082;
}

li.relationships a,
dl.meta dd.relationship a.tag {
  background: rgba(246, 48, 63, 0.1);
  border: 1px solid #f6303f;
  color: inherit !important;
}

li.characters a,
dl.meta dd.character a.tag {
  background: rgba(241, 137, 4, 0.1);
  border: 1px solid #f18904;
  color: inherit !important;
}

li.freeforms a,
dl.meta dd.freeform a.tag {
  background: rgba(253, 221, 0, 0.1);
  border: 1px solid #fddd00;
  color: inherit !important;
}

a.tag:hover,
.listbox .heading a.tag:visited:hover {
  color: white;
  background: rgba(241, 137, 4, 0.1);
}

li.comment,
.listbox,
fieldset, li.blurb, dl.work.meta.group {
  border: 1px solid;
  border-image-source: linear-gradient(to bottom, #f6303f 0%, #f6303f 16%, #f18904 16%, #f18904 32%, #fddd00 32%, #fddd00 48%, #77bd1e 48%, #77bd1e 64%, #0198cf 64%, #0198cf 80%, #722082 80%, #722082);
  border-image-slice: 1;
}

#dashboard.own {
  border-image-source: linear-gradient(to bottom, #f6303f 0%, #f6303f 16%, #f18904 16%, #f18904 32%, #fddd00 32%, #fddd00 48%, #77bd1e 48%, #77bd1e 64%, #0198cf 64%, #0198cf 80%, #722082 80%, #722082);
  border-image-slice: 1;
}

#dashboard a {
  border: 1px solid transparent;
}

#dashboard .current {
  background: rgba(246, 48, 63, 0.1);
  border: 1px solid #f6303f;
  color: inherit !important;
}

#dashboard li:nth-of-type(3n+1) a:hover {
  background: rgba(246, 48, 63, 0.1);
  border: 1px solid #f6303f;
  color: inherit !important;
}

#dashboard li:nth-of-type(3n+2) a:hover {
  background: rgba(241, 137, 4, 0.1);
  border: 1px solid #f18904;
  color: inherit !important;
}

#dashboard li:nth-of-type(3n+3) a:hover {
  background: rgba(253, 221, 0, 0.1);
  border: 1px solid #fddd00;
  color: inherit !important;
}
