@charset "iso-8859-1";


//flag colors
$color1: rgba(37, 197, 251, 1);
$color2: rgba(247, 170, 202, 1);
$color3: rgba(246, 248, 251, 1);
$color4: $color2;
$color5: $color1;

$direction: to bottom;

$what: trans;
$requiresbg: no;

//stuff
$overalltext: #000000;
$textpastel: inherit;
$menubg: #fefefe;
$contrasttext: rgba(0, 0, 0, 1);
$colorfooter: $overalltext;

@import 'colors';

//setting stuff for eventual flags with nightmarish colors
$color1text: $overalltext;
$color2text: $overalltext;
$color3text: $overalltext;
$color4text: $overalltext;
$color5text: $overalltext;
$color6text: $overalltext;


//f*cking menu
$menucolor1: darken($color1, 10%);
$menucolor2: darken($color2, 10%);
$menucolor3: darken($color1, 10%);
$menucolor4: darken($color2, 10%);
$menucolor5: darken($color1, 10%);
$menucolor6: darken($color2, 10%);


//accent = links
$accentcolor: $color4pastel;
$accentcolorhover: $color2pastel;
$buttonhover: $overalltext;

//header color (white??)
$headercolorbg: $color3;

//needs to have a contrast with the background. not pastel.
$readableaccent: $color4;

//tags
$colorrel: $color1pastel;
$colorchar: $color2pastel;
$colorff: $color3pastel;

//searchbar
$searchbg: $color3;
$searchtxt: $overalltext;

@import 'buttons';
@import 'everything';





